<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Cows and Bulls!</title>

    {% block script %}
    <script type="text/javascript">
    $(document).ready(function(){
       $("#form").submit(function(e){
            // prevent from normal form behaviour
            e.preventDefault();
            // serialize the form data
            var serializedData = $(this).serialize();
            $.ajax({
                type : 'POST',
                url :  "ajax/word_submit",
                data : serializedData,
                success : function(response){
                    if (response.is_winner) {
                        alert("You won! The word was: " + response.attempted_word);
                        window.location.reload(false);
                    } else if (response.number_of_attempts_exceeded) {
                        alert("You loose! Maximum attempts exhausted. The word was: " + response.original_word);
                        window.location.reload(false);
                    } else {
                        var trHTML = '<tr><td>'
                                 + $('#records_table tr').length + ")"
                                 + '</td><td>'
                                 + response.attempted_word
                                 + '</td><td>'
                                 + response.number_of_cows
                                 + '</td><td>'
                                 + response.number_of_bulls
                                 + '</td></tr>';
                        $('#records_table tbody').prepend(trHTML);
                    }
                    //reset the form after successful submit
                    $("#form")[0].reset();
                    const autofocusedElements = document.querySelectorAll('input[autofocus]');
                    if (autofocusedElements.length) {
                        autofocusedElements[0].focus();
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseJSON.error.word[0]);
                }
            });
       });
    });
    </script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Cows and Bulls!</h1>
        <p class="lead">
            In this game, I have a 4-letter word in mind, you have to guess it! (You have 15 attempts)
        </p>
        <hr class="my-4">
        <p>
            Bulls and Cows (also known as Cows and Bulls or Pigs and Bulls) is an old code-breaking mind or paper
            and pencil game for two or more players, predating the commercially marketed board game Mastermind.
            It is a game that may date back a century or more which uses numbers or words. It is played by
            two opponents.
        </p>
        <a class="btn btn-primary" target="_blank" href="https://en.wikipedia.org/wiki/Bulls_and_Cows" role="button">
            Learn more
        </a>
    </div>
    <div class="container">
        <form id="form" method="POST" autocomplete="off"> {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" class="btn btn-success"/>
        </form>
    </div>
    <br>
    <div class="container">
        <table class="table table-hover" id="records_table">
            <thead>
            <tr class="header" align="center">
                <th scope="col">#</th>
                <th scope="col">Word</th>
                <th scope="col">#Cows</th>
                <th scope="col">#Bulls</th>
            </tr>
            </thead>
            <tbody align="center">
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
